<div class="collection-header">
  <div class="collection-header__inner">
    <div class="collection-header__meta">
      <h2 class="collection-header__title">
        {{- title_override | default: collection.title -}}
      </h2>
      <p class="collection-header__count">
        {{- collection.products_count -}}
        {{- count_label | prepend: ' ' -}}
      </p>
    </div>
    <div class="collection-header__filters">
    </div>
  </div>
</div>